extends ../layout

block content 
  section.bg-blue
    h1 Se connecter
    form(action='/users/login' method='POST')
      input(type='text' name='username' placeholder='Nom de l\'utilisateur')
      input(type='password' name='password' placeholder='Mot de passe')
      input(type='hidden' name='_csrf' value=csrfToken)
      button.btn Connexion